html {
  background: purple;
}

body {
  background: #6260d2;
  width: 500px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  padding: 25px 100px;
  margin-bottom: 25px;
}

#character-select {
  padding: 9px 30px;
  font-size: 20px;
  text-align: center;
}

button {
  background: purple;
  padding: 15px 20px;
  border: purple;
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  transition: 0.4s;
}

button:hover {
  background: white;
  color: purple;
  border: 2px solid purple;
  cursor: pointer;
}

img {
  width: 150px;
  transform: rotate(0);
  margin: 10px;
}

#dice {
  border: 2px solid purple;
  background: black;
  width: 400px;
  padding: 20px;
  margin: auto;
  margin-top: 50px;
}

#diceDisplay {
  border: 2px solid purple;
  margin: auto;
  padding: 20px;
  width: 400px;
  margin-top: 30px;
}

span {
  border: 1px solid black;
  padding: 3px;
  margin: 3px;
  display: inline-block;
}
